
* {
    box-sizing: border-box;
    font-family: 'Sigmar', cursive;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
}



.board-container {
    border-top: 1px solid black;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    max-width: 400px;
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:
    "row1"
    "row2"
    "row3"
    "row4"
    "row5"
    "row6";
    row-gap: 10px;
    column-gap: 10px;
}

.game-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 100px;
    align-self: center;
    justify-self: center;
}

.rows {
    display: flex;
    column-gap: 10px;
    padding-left: 35px;
}
#row-1 {
    grid-area: row1;
}

#row-2 {
    grid-area: row2;
}

#row-3 {
    grid-area: row3;
}

#row-4 {
    grid-area: row4;
}

#row-5 {
    grid-area: row5;
}

#row-6 {
    grid-area: row6;
}

.tile {
  height: 60px;
  width: 60px;
  font-size: 45px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lilita One', cursive;
  font-family: 'Open Sans', sans-serif;
}

.correct {
    background-color: forestgreen;
    color: white;
  }

.close {
    background-color: #c9b458;
    color: white;
  }

.wrong {
    background-color: #787c7e;
    color: white;
  }

  .tile {
    font-family: 'Sigmar', cursive;
  }

.popup-overlay {
    visibility: visible;
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* font-family: 'Lilita One', cursive;
    font-family: 'Open Sans', sans-serif; */
  }

  .popup-inner h1 {
    font-size: 2em;
    margin-top: 0;
  }

  .instructions-closeicon {

    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
    width: 40px;
  }

  .instructions-closeicon:hover {
    color: #bbb;
  }

  body.loaded .popup-overlay {
    display: flex;
    overflow: hidden;
  }

  #ALONG {
    display: flex;
    justify-content: flex-start;
    user-select: none;
  }
  #along-letterA {
    color: white;
    background-color: forestgreen;
    border: 3px solid forestgreen;
  }

  #BRAVE {
    display: flex;
    justify-content: flex-start;
    user-select: none;
  }

  #brave-letterR {
    color: white;
    background-color: #c9b458;
    border: 3px solid #c9b458;
  }

  #CLIPS {
    display: flex;
    justify-content: flex-start;
    user-select: none;
  }

  #clips-letterI {
    color: white;
    background-color: #787c7e;
    border: 3px solid #787c7e;
  }

  .help-letters {
    display: flex;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
  }

  .help-letters {
    font-size: 1.3rem;
    text-transform: uppercase;
    border: 2px solid #ccc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 2px 2px;
  }

 p {
    padding-left: 15px;
    font-size: 20px;
}

strong {
    font-weight: bolder;
}

.instructions-reminder {
    font-weight: bold;
    border-top: 1px solid #ccc;
}

li {
    font-size: 20px;
    padding-bottom: 10px;
}

#button {
  font-family: 'Sigmar', cursive;
}
